::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: transparent;
}
body {
  background-color: #f6f7f9;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
